@media screen and (max-width: 1646px) {
	.profile_details__wrapper {
		.body_details__wrapper {
			.body_details__box {
				width: 100px !important;
				height: 100px !important;
				margin: 20px 15px 10px 0px !important;
				.body_details__text {
					font-size: 2.5rem;
				}
			}
		}
	}
	.swiper {
		width: 600px;
	}
}
@media screen and (max-width: 1280px) {
	.profile_details__wrapper {
		.greeting_text {
			font-size: 1.5rem;
		}
		.location_wrapper {
			svg {
				width: 25px;
				height: 25px;
			}
			.location_text {
				font-size: 1rem;
			}
		}
		.body_details__wrapper {
			.body_details__box {
				width: 50px !important;
				height: 50px !important;
				margin: 20px 10px 10px 0px !important;
				.body_details__text {
					font-size: 1.5rem;
					span {
						font-size: 1rem;
					}
				}
				.body_details_subtext {
					margin-top: 10px;
					svg {
						width: 20px;
						height: 20px;
					}
					font-size: 14px;
				}
			}
		}
	}
	.swiper {
		width: 500px;
		margin: 0px auto 50px auto;
	}
}

@media screen and (max-width: 950px) {
	.dashboard__container {
		flex-wrap: wrap;
		padding: unset;
		.dashboard__wrapper {
			width: 100%;
			.website_name_wrapper {
				margin: 35px auto;
				justify-content: center;
			}
			.profile__box {
				width: 536px;
				margin: 30px auto;
			}
		}
		.user_details__container {
			width: 100%;
			max-width: 350px;
			margin: 0px auto;
		}
	}
}
@media screen and (min-width: 700px) {
	.user-activity--container {
		.line-chart--container {
			width: unset !important;
			.line--chart {
				height: unset !important;
			}
		}
	}
}
@media screen and (max-width: 650px) {
	.swiper {
		width: 400px;
		height: 300px;
	}
	.activity--container {
		flex-wrap: wrap;
		.activity--icon {
			display: none;
		}
	}
	.user-activity--container {
		.line-chart--container {
			width: unset !important;
			.line--chart {
				height: unset !important;
			}
		}
	}
}
@media screen and (max-width: 580px) {
	.profile__box {
		flex-wrap: wrap;
		justify-content: center;
		width: 380px !important;
		.profile__wrapper {
			width: 100%;
			justify-content: center;
			margin: unset;
			img {
				width: 100px !important;
				height: 100px;
				border-radius: 50%;
			}
		}
		.profile_details__wrapper {
			text-align: center;
			margin: unset;
			.location_wrapper {
				justify-content: center;
			}
			.body_details__box:nth-child(3) {
				margin-right: unset !important;
			}
		}
	}
	.user__widget {
		.current-activity--text {
			font-size: 35px;
		}
	}
	.swiper {
		width: 300px;
		height: 300px;
	}
	.activity--name {
		font-size: 25px;
	}
	.activity--date {
		font-size: 12px;
		margin: 20px 0px;
	}
	.calories--text {
		font-size: 40px;
	}
}

@media screen and (max-width: 390px) {
	.user-activity--container {
		.body_details__wrapper {
			align-items: center;
			margin-left: 30px;
			.body_details__box {
				width: 100px !important;
				padding: 10px !important;
				height: 80px;
				display: flex;
				align-items: center;
				margin-right: 10px;
				.body_details_content {
					flex-direction: column;
					justify-content: space-evenly;
					align-items: center;
					.body_details__text {
						font-size: 20px;
					}
					span {
						margin-left: 5px;
					}
					.body_details_subtext {
						font-size: 15px;
						margin: 5px;
					}
				}
			}
		}
	}
	.dashboard__container {
		.dashboard__wrapper {
			.profile__box {
				width: 290px !important;

				.body_details__wrapper {
					flex-direction: column;
					align-items: center;
					.body_details__box {
						width: 167px !important;
						padding: 10px 0px 0px 0px !important;

						.body_details_content {
							flex-direction: row;
							justify-content: space-evenly;
							align-items: center;
							span {
								margin-left: 5px;
							}
							.body_details_subtext {
								margin: unset;
							}
						}
					}

					.body_details__box:nth-child(3) {
						.body_details_content {
							justify-content: space-evenly !important;
						}
					}
				}
			}
			.swiper {
				width: 240px;
				height: 300px;
			}
			.progress-bar--container {
				width: 95%;
			}
		}
	}
}
