@import '../variable.scss';

//Header css
.website__name {
	letter-spacing: 5px;
}

//User profile
.profile__box {
	backdrop-filter: blur(65px);
	background-color: #1d1d1f;
	border: 2px solid $secondary;
	box-shadow: 5px 5px 30px hsla(0, 0%, 100%, 0.05);
	margin: 22px auto;
	width: 62%;
}
