@import '../variable.scss';

//Header css
.website__name {
	letter-spacing: 5px;
}

//User profile
.profile__box {
	backdrop-filter: blur(65px);
	background-color: #1d1d1f;
	border: 2px solid $secondary;
	box-shadow: 5px 5px 30px hsla(0, 0%, 100%, 0.05);
	width: calc(100% - 103px);

	.body_details__box {
		background: linear-gradient(180deg, #2e2e2e 0%, rgba(80, 80, 80, 0) 98.96%);
		border: 3px solid #edff64;
		width: 145px;
		height: 150px;
	}
}

.user__widget {
	backdrop-filter: blur(65px);
	background-color: #1d1d1f;
	border: 2px solid $secondary;
	box-shadow: 5px 5px 30px hsla(0, 0%, 100%, 0.05);
	height: calc(100vh - 6px);
}

/*------------------Swiper css----------------------------------------------*/

.swiper {
	width: 540px;
	height: 320px;
	display: flex !important;
	justify-content: start;
	// margin-top: 65px !important;
}

.swiper-slide {
	display: flex !important;
	margin-top: 20px;
	border-radius: 18px;
	font-size: 22px;
	font-weight: bold;
	color: #fff;
}
.swiper-slide {
	backdrop-filter: blur(65px);
	background-color: #1d1d1f;
	border: 2px solid #edff64;
	box-shadow: 5px 5px 30px hsla(0, 0%, 100%, 0.05);
}
// .swiper-slide:nth-child(1n) {
// 	background-color: rgb(206, 17, 17);
// }

// .swiper-slide:nth-child(2n) {
// 	background-color: rgb(0, 140, 255);
// }

// .swiper-slide:nth-child(3n) {
// 	background-color: rgb(10, 184, 111);
// }

// .swiper-slide:nth-child(4n) {
// 	background-color: rgb(211, 122, 7);
// }

// .swiper-slide:nth-child(5n) {
// 	background-color: rgb(118, 163, 12);
// }

// .swiper-slide:nth-child(6n) {
// 	background-color: rgb(180, 10, 47);
// }

// .swiper-slide:nth-child(7n) {
// 	background-color: rgb(35, 99, 19);
// }

// .swiper-slide:nth-child(8n) {
// 	background-color: rgb(0, 68, 255);
// }

// .swiper-slide:nth-child(9n) {
// 	background-color: rgb(218, 12, 218);
// }

// .swiper-slide:nth-child(10n) {
// 	background-color: rgb(54, 94, 77);
// }
